#Ignorar todos
*
#No Ignorar archivos .v y .ucf
!*.v
!*.ucf
!*.asm
!*.coe
!Ensamblador.exe
!Debugger.exe
#!.gitignore
#!/ipcore_dir/
#!/ipcore_dir/*.xco
ipcore_dir/MemInstrucciones.xco
ipcore_dir/MemInstrucciones.v
